# .npmignore
src/
examples/
.babelrc
.gitignore
.nvmrc
webpack.config.js

#tests
__tests__/
jest.config.js
test
coverage

#build tools
tsconfig.json
.travis.yml
.jenkins.yml
.codeclimate.yml

#linters
.jscsrc
.jshintrc
.eslintrc*
.prettierrc.js

#editor settings
.idea
.editorconfig
